//公共样式部分 
/* 清除内外边距 */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    // font-family: "Microsoft YaHei"!important; 
    font-family:"PingFangSC-Light","PingFang SC","PingFang SC UltraLight","Microsoft YaHei","sans-serif";
}
html,body{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 16px
    // text-size-adjust: 100%;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
p,
blockquote,
table,
th,
td,
img,
textarea {
    font-weight: normal;
    font-style: normal;
    font-size: normal;
    // word-wrap: break-word;
}

input,
textarea,
select,
radio,
checkbox,
button {
    border: none;
    outline: none;
    resize: none;
    // vertical-align: middle;
    -webkit-appearance: none;
}

ol,
ul,
li {
    list-style: none;
}

img {
    border: none;
}

a {
    text-decoration: none;
}

i,
em,
b {
    font-weight: normal;
    font-style: normal;
    font-size: normal;
}

.txt-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tc{
    text-align: center;
}
.fr {
    float: right;
}

.fl {
    float: left;
}


body{
    background:#f3f6f8;
}

.clearfix {
    zoom: 1;
}

.clearfix::after,.clearfix::before{
    clear: both;
    content: ' ';
    display: block;
    line-height: 0;
    height: 0;
    visibility: hidden;
}

// mint-ui indicator提示框样式
.mint-indicator-wrapper{
    padding 10px
    line-height: 0
    .mint-indicator-text{
        font-size 14px
        line-height 14px
    }
  }

// mint-ui msgbox提示框样式
.mint-msgbox{
    border-radius 0.1rem;
    transform: translate3d(-50%,-70%,0)
}
.mint-msgbox-content{
    padding-top 5px
    color #999
}
.mint-indicator-wrapper{
    padding 10px
    line-height: 0
    .mint-indicator-text{
        font-size 14px
        line-height 14px
    }
}
.mint-msgbox-btns{
    height 49px
    line-height 49px
}
.mint-msgbox-cancel{
    font-size 15px
    color #333
}
.mint-msgbox-confirm {
    font-size 15px
    color #00bc71
}