@import './mixin.styl'

// 颜色定义规范
$colorPrice= #ec8500;
$color999 = #999;
$color333 = #333;
$colorGreen = #00bc71;
$colorfff=#fff

//字体定义规范
$font12 = 12
$font13 = 13
$font14 = 14
$font15 = 15
$font16 = 16
$font17 = 17
$font18 = 18
$font19 = 19
$font20 = 20
$font21 = 21
$font32 = 32
$font34 = 34
$font36 = 36
$font40 = 40
